{% extends "base_admin.html" %}

{% block content %}
  <div class="bg-light page-header">
    <h2>Almacen</h2>
  </div>

<div class="bg-light p-3 mb-3">
  <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'lista_complementos' %}" class="btn btn-primary btn-inicio">Productos</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'lista_productos' estado='ST' %}" class="btn btn-primary btn-inicio">Productos Stock</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'lista_productos' estado='VT' %}" class="btn btn-primary btn-inicio">Productos en venta</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'find_proveedor' %}" class="btn btn-primary btn-inicio">Comp. Proveedor</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'almacenes' %}" class="btn btn-primary btn-inicio">Alta almacenes</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'en_construccion' %}" class="btn btn-primary btn-inicio">Recambios</a>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a href="{% url 'en_construccion' %}" class="btn btn-primary btn-inicio">Cambio estado</a>
        </div>
    </div>
</div>

{% endblock content %}
