<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand " >Firma y DNI</a>
</nav>

<div class="bg-light mt-3 p-3">
    <p class="mt-3">
      1. De acuerdo a la LOPD. El cliente debe entregar el terminal sin tarjeta de memoria ni tarjeta SIM.
      No nos hacemos responsables de la pérdida de las misma en caso de que el cliente no las retire.
      <br/><br/>
      2. El Tiempo máximo de almacenaje y custodia del terminal sin coste para el cliente será de 30
      días. A partir de ahi, el coste será de 2€ por día. Pasados dos meses desde la comunicación al cliente
      se entenderá que el mismo renuncia al términal y pasará a reciclaje.
      <br/><br/>
      3. Para cualquier reclamación será imprescindible presentar este resguardo. Por tanto, el servicio
      técnico declina toda responsabilidad derivada a la pérdida de mismo.
      <br/><br/>
      4. A causa de la reparación es posible que se puedan perder datos, por lo que es recomendable que efectúe
      una copia de los mismos.
      <br/><br/>
      5. La apertura del teléfono y manipulación por parte del servicio técnico puede hacer perder la garantía
      de según que marcas y modelos de teléfonos por lo que no nos hacemos cargo de reclamaciones
      recibidas por este motivo.
      <br/><br/>
      6. La reparación efectuada tendrá una garantia de 90 días sobre el trabajo efectuado (excepto los teléfonos mojados).
      Queda garantizada la reparación tanto en materiales como en mano de obra y no otras posibles anomalías que podrían presentar iguales o
      parecidos efectos.
      <br/><br/>
      7. El titular podrá ejercer los derechos de acceso, rectificación, cancelación y oposición previsto en la
      legislación vigente en materia de Protección de datos.
      <br/><br/>
      8. El fabricante recomienda que todas la reparaciones que se efectúen se actualice el teléfono
      a la última versión disponible lo cual conlleva el retorno del aparato a su configuración de fábrica.
      Por lo cual, no nos reponsabilizamos de la pérdida de datos del usuario, variaciones de software, ni los simlocks
      que hubieran podido haber sido aplicados al aparato posteriores a su salida de nuestras dependencias.
      <br/><br/>
      9. No nos resposibilizamos de cualquier otra avería que no sea avisada o pueda ser comprobada con anterioridad.
      (ej: El terminal no enciende)
      <br/><br/>
      10. La garantía no cubre los daños producidos por un mal uso, incluyendo los producidos por la manipulación de terceros
      <br/><br/>
      11. En caso de reparaciones de placa base, el terminal tiene un pequeño porcentaje de no volver a funcionar,
      en función de la dificultad de reparación.
      <br/><br/>
      <b>Se confirma la acetación de todas la cláusulas de reparación por parte del cliente con su firma en la parte inferior de la misma
      hoja en el momento de la entrega del terminal.</b>
      <div class="bg-warning mt-3 p-4">
         <p><b>Nombre: </b>{{datos.nombre}}</p>
         <p><b>DNI: </b>{{datos.DNI}}</p>
      </div>
      <div class="d-inline">
        <div class="mt-3 mb-3 text-center">
           <p><b>FIRMA</b></p>
        </div>
        <canvas class="bg-light sketchpad m-auto d-block"></canvas>
        <div class="mt-3 mb-3 text-center">
            <button class="btn btn-primary mt-2" id="clear" >Borrar</button>
        </div>
      </div>

      <button class="btn btn-primary btn-block mt-2" id="aceptar">Aceptar condiciones</button>
</div>
<script>
  $(function() {
    var sketchpad = new Sketchpad({
      element: '.sketchpad',
      width: 350,
      height: 250,
    });
    sketchpad.penSize = 2;
    //var pads = $('.sketchpad').sketchpad();
    // we can manipulate inner canvas programaticaly by pads array
    $("#clear").on("click", function(){
       sketchpad.clear()
    })
    $("#aceptar").on("click", function(){
      $.post('/api/set_firma_press_insitu/{{datos.pk}}/{{datos.DNI}}/', {file: sketchpad.canvas.toDataURL()},
        function(res){
              find_sign();
        })

    })
  });
</script>
