{% extends "base_admin.html" %}

{% block content %}
<div class="bg-light page-header d-flex justify-content-between bg-light">
      <h2 class="">Buscar cliente</h2>
      <form class="form-inline my-2 my-lg-0" method="post" onsubmit="find_cliente(); return false">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" name="filter" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          <a href="{% url 'salir_productos_usados' %}" class="btn btn-primary ml-3">Salir</a>
      </form>
</div>

<div id="content_main" class="bg-light p-3 mb-3 collapse">

</div>

<script type="text/javascript">
  function find_cliente(){
      params = $("form").serialize();
      $.post("{% url 'al_find_cliente' %}", params, function(res){
        $("#content_main").removeClass("collapse");
        $("#content_main").empty().append(res);
     });
    return false;
  }
</script>

{% endblock content %}
