{% extends "base_admin.html" %}

{% block content %}
{% load admin_extras %}
<div class="bg-light page-header">
  <div class="row">
    <div class="col-9">
      <h2>Clientes</h2>
    </div>
    <div class="col-3">
      <a href="{% url 'lista_clientes' %}" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>

</div>

<div class="bg-light p-3 mb-3">
    <div class="p-3">
      <h3>{{titulo}}</h3>
    </div>
    <form id='form_main' method="post" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
          <div class="form-group col-md-6">
            <label for="{{field.name}}">{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
          </div>
        {% endfor %}
      </div>
      <div class="form-group" style="padding-top: 5px;">
        <button type="submit" class="btn btn-primary">Enviar</button>

      </div>
   </form>
</div>

{% endblock content %}
